body {
  color: #888888;
  font: 16px/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased; }

a {
  color: #26c1c5;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover, a:active {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { color: #4d4d4d; margin: 15px 0; }
h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
ul, ol { padding-left: 20px; }
p, ul, ol, blockquote, pre { margin-bottom: 5px; }
code { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }

.row, .clearfix, .header-inner, .header-menu ul, .splash p {
  zoom: 1; }
  .row:before, .clearfix:before, .header-inner:before, .header-menu ul:before, .splash p:before, .row:after, .clearfix:after, .header-inner:after, .header-menu ul:after, .splash p:after {
    content: "";
    display: table; }
  .row:after, .clearfix:after, .header-inner:after, .header-menu ul:after, .splash p:after {
    clear: both; }

.framework-introduction,
.framework-architecture {
  padding: 60px 0; }
  .framework-introduction h1,
  .framework-architecture h1 {
    margin-top: -12px;
    margin-bottom: 15px;
    border-bottom: 2px solid #f1f1f1;
    border-color: rgba(0, 0, 0, 0.04);
    font-weight: normal; }
  .framework-architecture h1 {
    margin-bottom: 30px; }

.component-visual {
  background: #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 120px; }

.component-title {
  text-align: center;
  font-size: 13px;
  margin-top: 10px; }

.footer {
  padding: 60px;
  border-top: 2px solid #e7e7e7;
  background: #f1f1f1; }
  .credits {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .credits a {
      color: #888888; }
      .credits a:hover, .credits a:focus {
        color: #666666;
        text-decoration: none; }
    .credits p:last-child {
      margin: 0; }

